.contactPage {
	margin-top: 18rem;
}
ul {
	font-size: 22px;
	padding-left: 7rem;
	list-style-type: none;
	line-height: 3rem;
}
h1 {
	padding-left: 5.5rem;
	font-size: 40px;
}
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}
.margin {
	margin: 15px;

	/* margin: 2.5px; */
}
#linkedin:hover {
	transform: scale(1.04);
	transition: 0.4s ease;
}
#linkedin:hover .linkedinlogo {
	color: #22a2ea;
}
#github:hover {
	transform: scale(1.05);
	transition: 0.4s ease;
}
#github:hover .githublogo {
	color: #22a2ea;
}
