/* html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
} */
.contactPage {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;

	padding-top: 8rem;
	padding-bottom: 7rem;
	scroll-snap-align: start;
	background-color: #d9b995;
}
ul {
	font-size: 22px;
	padding-left: 7rem;
	list-style-type: none;
	line-height: 3rem;
	margin-top: 0.4rem;
}
h1 {
	padding-left: 5.5rem;
	font-size: 40px;
}
a#linkedLogo,
a#linkedLogo:link,
a#linkedLogo:visited,
a#linkedLogo:active,
a#gitLogo,
a#gitLogo:link,
a#gitLogo:visited,
a#gitLogo:active {
	text-decoration: none;
	color: inherit;
}
.margin {
	margin: 15px;

	/* margin: 2.5px; */
}
#linkedin:hover {
	transform: scale(1.04);
	transition: 0.4s ease;
}
#linkedin:hover .linkedinlogo {
	color: #d3931a;
}
#github:hover {
	transform: scale(1.05);
	transition: 0.4s ease;
}
#github:hover .githublogo {
	color: #d3931a;
}
#topLink {
	margin-left: 7rem;
}
#topLink {
	color: #d3931a;
}
#topLink:hover,
#topLink:active,
#topLink:focus {
	transform: scale(1.2);
}
