/* html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
} */
.homeBox {
	margin-top: 2.2rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;

	padding-top: 9rem;
	padding-bottom: 288px;
	padding-left: 2.5rem;
	scroll-snap-align: start;
	scroll-margin-top: 6rem;
	background-color: #ffeadc;
}
.title {
	margin-left: 15px;
}
.about {
	margin-left: 3rem;
	width: 85%;
	padding-top: 0.5rem;
	padding-bottom: 2.05rem;
	font-size: 16px;
	line-height: 2rem;
}
.aboutMe {
	margin-top: 1.5rem;
}
#betterday {
	font-weight: bold;
	margin-top: 2.5rem;
}
.learnMore {
	margin-left: 6rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 1.8rem;
	border-radius: 100px;
	font-family: inherit;
	width: 12.5rem;
	text-align: center;
	line-height: 2em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 1.1em;
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	scroll-behavior: smooth;
}
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
}
.learnMore:hover {
	color: #fff;
	border: #fff solid 1px;
	background: #d3931a !important;
	transform: scale(1.1);
	transition: ease 0.5s;
}
