@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Imbue:wght@400;600&display=swap");

.intro {
	/* margin-top: 192px;
	margin-bottom: 576px; */
	margin-top: 96px;
	margin-bottom: 288px;
}
.title {
	/* margin-left: 80px; */
	margin-left: 40px;
}
.about {
	/* margin-left: 6rem;
	width: 80%;
	padding-top: 1rem;
	padding-bottom: 2.05rem;
	font-size: 40px;
	font-family: "Big Shoulder", serif;
	line-height: 5rem; */
	margin-left: 3rem;
	width: 80%;
	padding-top: 0.5rem;
	padding-bottom: 1.025rem;
	font-size: 20px;
	font-family: "Big Shoulder", serif;
	line-height: 2.5rem;
}
.aboutMe {
	margin-top: 6rem;
	margin-top: 3rem;
}
#betterday {
	font-weight: bold;
}
.learnMore {
	/* margin-left: 11rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 3.6rem;
	border-radius: 100px;
	font-family: inherit;
	width: 25rem;
	text-align: center;
	line-height: 2.6em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 2.2em;
	padding-left: 9rem; */
	margin-left: 5.5rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 1.8rem;
	border-radius: 100px;
	font-family: inherit;
	width: 12.5rem;
	text-align: center;
	line-height: 1.3em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 1.1em;
	padding-left: 4.5rem;
}
.learnMore:hover {
	color: #fff;
	border: #fff solid 1px;
	background: #22a2ea !important;
	transform: scale(1.1);
	transition: ease 0.5s;
}
