.intro {
	margin-top: 12rem;
	margin-bottom: 12rem;
}
.about {
	margin-left: 3rem;
	width: 34rem;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	font-size: 30px;
}
.learnMore {
	margin-left: 5.5rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 1.8rem;
	padding-left: 2.8rem;
	border-radius: 100px;
	font-family: inherit;
	width: 11rem;
	line-height: 2.6em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 2.2em;
	padding-left: 5.3rem;
}
.learnMore:hover {
	color: #fff;
	border: #fff solid 1px;
	background: #22a2ea !important;
	transform: scale(1.1);
	transition: ease 0.5s;
}
