.profilePhotos {
	height: 100%;
	width: 50%;
	position: fixed;
}
.profilePhotos #leftPhotos {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.profilePhotos #leftPhotos .portraits {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: sepia(0.3);
	z-index: -1;
}
.profilePhotos #leftPhotos .portraits:nth-child(1) {
	/* -webkit-animation: sliderFade-1 15s linear infinite; */
	animation: sliderFade-1 30s linear infinite;
}
.profilePhotos #leftPhotos .portraits:nth-child(2) {
	/* -webkit-animation: sliderFade-2 15s linear infinite; */
	animation: sliderFade-2 30s linear infinite;
}
.profilePhotos #leftPhotos .portraits:nth-child(3) {
	/* -webkit-animation: sliderFade-3 15s linear infinite; */
	animation: sliderFade-3 30s linear infinite;
}
@keyframes sliderFade-1 {
	0% {
		opacity: 1;
	}
	9% {
		opacity: 1;
	}
	18% {
		opacity: 1;
	}
	23% {
		opacity: 0.5;
	}
	27% {
		opacity: 0;
	}
	36% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	54% {
		opacity: 0;
	}
	63% {
		opacity: 0;
	}
	72% {
		opacity: 0;
	}
	81% {
		opacity: 0;
	}
	85% {
		opacity: 0.5;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes sliderFade-2 {
	0% {
		opacity: 0;
	}
	9% {
		opacity: 0;
	}
	18% {
		opacity: 0;
	}
	23% {
		opacity: 0.5;
	}
	27% {
		opacity: 1;
	}
	36% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	56% {
		opacity: 1;
	}
	60% {
		opacity: 0.5;
	}
	63% {
		opacity: 0;
	}
	72% {
		opacity: 0;
	}
	81% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sliderFade-3 {
	0% {
		opacity: 0;
	}
	9% {
		opacity: 0;
	}
	18% {
		opacity: 0;
	}
	27% {
		opacity: 0;
	}
	36% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	56% {
		opacity: 0;
	}
	60% {
		opacity: 0.5;
	}
	63% {
		opacity: 1;
	}
	72% {
		opacity: 1;
	}
	81% {
		opacity: 1;
	}
	85% {
		opacity: 0.5;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
