profilePictures {
	box-sizing: border-box;
}
html {
	margin: 0;
	background-size: cover;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/full-lonely.jpg')
		no-repeat center center fixed;
	background-blend-mode: darken;
	// blend mode optional at this stage; will be used more in the next demo.
	transition: 3s;
}
body {
	margin: 0;
}
div#texttop {
	color: #fff;
	width: 30%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 2rem;
	border: 4px double rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.3);
	font-family: Oxygen, sans-serif;
	h1 {
		margin-top: 0;
		text-align: center;
		font-weight: 100;
	}
	p {
		line-height: 1.6;
	}
}
@media all and (max-width: 770px) {
	div#texttop {
		display: none;
	}
}

/* 
.profileWindow {
	height: 100%;
	width: 100%;
	position: fixed;
}
.profileWindow .profilePhotos {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.profileWindow .profilePhotos .profilePicture {
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
/* background-position: center;
	width: 100%;
	height: 100%;
} */
/* .profileWindow .profilePhotos .profilePicture:nth-child(1) {
	-webkit-animation: sliderFade-1 15s linear infinite;
	animation: sliderFade-1 15s linear infinite;
}
.profileWindow .profilePhotos .profilePicture:nth-child(2) {
	-webkit-animation: sliderFade-2 15s linear infinite;
	animation: sliderFade-2 15s linear infinite;
}
.profileWindow .profilePhotos .profilePicture:nth-child(3) {
	-webkit-animation: sliderFade-3 15s linear infinite;
	animation: sliderFade-3 15s linear infinite;
} */
/* @-webkit-keyframes sliderFade-1 {
	0% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	30% {
		opacity: 0.5;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}  */
/* 
@-webkit-keyframes sliderFade-2 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	} */
/* }
@-webkit-keyframes sliderFade-3 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */
