/* html {
	overflow-x: scroll;
} */
.appId {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
.leftOfApp {
	width: 50%;
	height: 100%;
}
.rightOfApp {
	width: 50%;
	height: 100%;
	margin-right: 0% !important;
}
