.projectsTitle {
	align-self: center;
	margin-right: 10%;
	font-size: 3rem;
	/* perhaps put these to the right side. we shall see */
}
.projectPage {
	display: flex;
	flex-direction: column;
}
.projectDescription {
	font-size: 18.5px;
	text-align: left;
	margin-bottom: 1.5rem;
	margin-top: 5rem;
	width: 37.5rem;
}
.projectDate {
	text-align: right;
	float: right;
	padding-right: 0.25rem;
}
.projectList {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.websitepreview {
	border: 5px solid black;
	background-color: black;
	height: 17rem;
	width: 26rem;
	border-radius: 3rem;
}

img {
	object-fit: cover;
	object-position: 50% 0%;
}

#astro {
	object-fit: cover;
	object-position: 50% 30%;
}

#quiz {
	object-fit: contain;
	object-position: 50% 0%;
	background-color: black;
}
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
}
.contactMeButton {
	align-self: center;
	margin-top: 3.5rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 1.8rem;
	border-radius: 100px;
	font-family: inherit;
	width: 16.5rem;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	scroll-behavior: smooth;
}
.contactMeButton:hover {
	color: #fff;
	border: #fff solid 1px;
	background: #22a2ea !important;
	transform: scale(1.1);
	transition: ease 0.5s;
}
.cutesy {
	font-size: 1.3rem;
}
