/* .title {
	size: 200%;
} */
.projectsTitle {
	padding-left: 8rem;
}
.projectPage {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
.projectList {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}
.websitepreview {
	border: 10px solid black;
	height: 22rem;
	width: 38rem;
	border-radius: 3rem;
	margin-bottom: 3rem;
}
