html {
	scroll-behavior: smooth;
}
.skills {
	margin-top: 12rem;
	margin-bottom: 18rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.qualifications {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-bottom: 1.025rem;
	margin-bottom: 3rem;
}
.skillsList {
	display: flex;
	flex-direction: column;
	width: 40%;
	padding-top: 8.5rem;
	padding-left: 4%;
	padding-right: 2%;
	line-height: 2.4em;
	font-size: 15px;
}
.list {
	padding-bottom: 0.75rem;
	font-size: 20px;
	padding-left: 1.5rem;
	padding-right: 0px;
	line-height: 2.4rem;
}
.expressLogo {
	height: 20px;
	width: 20px;
	object-fit: fill;
	margin-right: 0.6875rem;
}
.skillIcon {
	position: relative;
	top: 2.5px;
	bottom: 2.5px;
	margin-right: 0.6875rem;
}
li {
	padding-left: 1rem;
}
#manyMore {
	padding-top: 0.5rem;
	padding-left: 1rem;
}
.resume {
	padding-top: 0.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}
/* .alert {
	border: 1px solid #22a2ea;
	background-color: #22a1ea1f;
	font-size: 20px;
	width: 8.5rem;
	padding-top: 0.3rem;
	height: 2rem;
	border-radius: 100px;
	text-align: center;
	animation: shake 0.5s;
	animation-delay: 4s;
	animation-iteration-count: 2;
} */
.resumepdf {
	margin-top: 3.5rem;
	padding-bottom: 0.75rem;
	width: 25.194rem;
	height: 35.5225rem;
}
a,
a:link,
a:visited,
a:active {
	text-decoration: none;
}
.projectsButton {
	margin-top: 2.5rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 1.8rem;
	border-radius: 100px;
	font-family: inherit;
	width: 12.5rem;
	text-align: center;
	line-height: 2em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 1.1em;
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	scroll-behavior: smooth;
}
.projectsButton:hover {
	color: #fff;
	border: #fff solid 1px;
	background: #22a2ea !important;
	transform: scale(1.1);
	transition: ease 0.5s;
}
