form {
	display: flex;
	flex-direction: column;
	line-break: 5;
}
.fields {
	margin: 20px;
	margin-bottom: 3.4vh;
	width: 35.2rem;
	border: solid 1px black;
	background-color: #111111 !important;
	color: #ffffff;
	font-size: 1.2rem;
	padding-left: 3.2em;
	padding-right: 3.2em;
	border-radius: 34px;
	font-family: inherit;
	outline: none;
}
.fields::placeholder {
	color: #ffffff;
}
.fields:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #111111 inset;
	-webkit-text-fill-color: white;
}
#nameinput,
#emailinput {
	height: 4rem;
}
#messageinput {
	height: 7rem;
	padding-top: 1em;
}
#messageinput::placeholder {
	/* padding-top: 1em; */
}

#submit {
	color: #ffffff;
	background-color: #111111;
	/* border: none; */
	height: 4rem;
	width: 15rem;
	font-family: inherit;
	font-size: 1.5rem;
	padding-left: 0px;
	padding-right: 0px;
	transition: background-color 0.5s;
}

#submit:hover {
	color: #fff;
	border: #fff solid 1px;
	background: #22a2ea !important;
	transform: scale(1.1);
	transition: ease 0.5s;
}
