form {
	display: flex;
	flex-direction: column;
	line-break: 5;
}
.fields {
	margin: 20px;
	margin-bottom: 3.4vh;
	width: 40rem;
	border: solid 1px black;
	border-radius: 34px;
	font-family: inherit;
}
.fields::placeholder {
	font-size: 1.2rem;
	color: #ffffff;
	/* padding-top: 0.5rem; */
	padding-left: 1.6em;
}
.fields:placeholder-shown {
	background-color: #111111;
}

#nameinput {
	height: 4rem;
}
#emailinput {
	height: 4rem;
}
#messageinput {
	height: 8rem;
}
#messageinput::placeholder {
	padding-top: 1em;
}

#submit {
	color: #ffffff;
	background-color: #111111;
	height: 4rem;
	width: 15rem;
	font-family: inherit;
	font-size: 1.5rem;
}
